.noteCreator
{
    background-color: rgba(0, 0, 0, 0.096);
    flex-direction: column;
    width: 40%;
    min-width: 500px;
    padding-bottom: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    backdrop-filter: blur(2px);
}
.notesHandler-form
{
    font-family: 'Qahiri', sans-serif;
    display: block;
    width: 80%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}
.notesHandler-form > textarea{
        height: 140px;
        padding: 10px;
        margin-top:10px;
        margin-left: 0px;
        margin-right: 0px;
        outline: none;
        resize: none;
        display: inline-block;
        width: 100%;
        min-width: 100%;
        box-sizing: border-box;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
}
.notesHandler-form > button {
        background-color: #523A28;
        font-weight: bolder;
        color: white;
        cursor: pointer;
        border:0;
        display:inline-block;
        outline: none;
        padding: 10px;
        margin:5px;
        min-width: 20%;
        max-width: 40%;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
}
.notesHandler-form > button:hover {
        background-color: #745e4f;
        box-shadow: inset 0 0 0.4em rgb(39, 28, 18);
}
.note
{
    position: absolute;
    cursor: pointer;
    background-image: url("../../img/note_img.png");
    background-size:cover;
    top: 150px;
    left: 300px;
    height: 215px;
    width: 200px;
    padding:25px
}
.text {
    white-space: pre-wrap;
    height: 90%;
    width: 105%;
    overflow-y:auto;
    word-wrap: break-word;
    z-index: 5;
    color:white;
    font-family:'Courier New', Courier, monospace;
}
.text::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid;
    background-clip: content-box;
  }
.text::-webkit-scrollbar {
    width: 10px;
  }
.deleteBttn
{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 20px;
    transition: transform .3s ease;
}
.deleteBttn:hover
{
    transform: scale(1.6);
}
